# Project 1 Part 4 - Creating a master parcel database

In this part of the project, we will use Python to read, process, and double all of the parcel data into a database.  Note that this is not our only alternative, and in Project 1 Part 4 b, we will look at another alternative, that is reading all the of original, raw files into their own database table, then using SQL to join/link/aggregate the tables.

## Chunking Files in Pandas – Part 1 (20 Points)

In this part of the project, you will use `Panda`’s to process the data from the MinneMUDAC 2016 competition Dive into Water Data.  The data can be found at the [MinneMUDAC site](http://minneanalytics.org/minnemudac/data/).  You should document your work in a Jupyter notebook, which will be used to submit your solution.  **For the rest of the parts of this project, we will limit ourselves to the years 2004-2014.**

1. Remind me why we want to skip 2003.<br>
=> Because the columns are not consistent

2. Import the common columns list and translation dictionaries from the `.py` file you created in the last part of the project.

In [1]:
from project_data_khanal import common_columns,lat_long_distance_ID_dict

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (16,19,22) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [2]:
len(common_columns)

70

3. Use glob and a list comprehension to get a list of file names for the years 2004-2014.

In [2]:
from project_data_khanal import filePaths
filePaths = ['./Data/MinneMUDAC/2015_metro_tax_parcels.txt',
 './Data/MinneMUDAC/2009_metro_tax_parcels.txt',
 './Data/MinneMUDAC/2007_metro_tax_parcels.txt',
 './Data/MinneMUDAC/2011_metro_tax_parcels.txt',
 './Data/MinneMUDAC/2005_metro_tax_parcels.txt',
 './Data/MinneMUDAC/2013_metro_tax_parcels.txt',
 './Data/MinneMUDAC/2014_metro_tax_parcels.txt',
 './Data/MinneMUDAC/2008_metro_tax_parcels.txt',
 './Data/MinneMUDAC/2010_metro_tax_parcels.txt',
 './Data/MinneMUDAC/2006_metro_tax_parcels.txt',
 './Data/MinneMUDAC/2012_metro_tax_parcels.txt',
 './Data/MinneMUDAC/2004_metro_tax_parcels.txt']

4. Use the first chunk of the first file to prototype an expression that <br>
    a. Selects the common columns <br>
    b. Fixes any issues with the column names <br>
    c. Changes columns to the correct types (if necessary).  More information about the columns can be found [here](ftp://ftp.gisdata.mn.gov/pub/gdrs/data/pub/us_mn_state_metrogis/plan_regonal_prcls_open/metadata/metadata.html). It is **imperative** that you keep the lat and long columns as strings. <br>
    d. Use the translation dictionaries from the last part to add three new columns to the chunk: lake code, lake name, parcel distance to the lake.<br>
    e. Filters to only properties that are within 1600 m (~1 mile) of the closest lake.

In [17]:
##### from project_data_khanal import read_chunk
import pandas as pd
df_chunks = pd.read_csv(filePaths[0],chunksize = 1000,sep = "|")


from functoolz import first
first_chunk = first(df_chunks)
first_chunk.columns

from project_data_khanal import lake_code_dict, lat_long_id__lake_dict,lat_long_distance_ID_dict
from dfply import *
from more_dfply import *
from itertools import zip_longest

first_chunk.columns

Index(['ACRES_DEED', 'ACRES_POLY', 'AGPRE_ENRD', 'AGPRE_EXPD', 'AG_PRESERV',
       'BASEMENT', 'BLDG_NUM', 'BLOCK', 'CITY', 'CITY_USPS', 'COOLING',
       'COUNTY_ID', 'DWELL_TYPE', 'EMV_BLDG', 'EMV_LAND', 'EMV_TOTAL',
       'FIN_SQ_FT', 'GARAGE', 'GARAGESQFT', 'GREEN_ACRE', 'HEATING',
       'HOMESTEAD', 'HOME_STYLE', 'LANDMARK', 'LOT', 'MULTI_USES', 'NUM_UNITS',
       'OPEN_SPACE', 'OWNER_MORE', 'OWNER_NAME', 'OWN_ADD_L1', 'OWN_ADD_L2',
       'OWN_ADD_L3', 'PARC_CODE', 'PIN', 'PLAT_NAME', 'PREFIXTYPE',
       'PREFIX_DIR', 'SALE_DATE', 'SALE_VALUE', 'SCHOOL_DST', 'SPEC_ASSES',
       'STREETNAME', 'STREETTYPE', 'SUFFIX_DIR', 'Shape_Area', 'Shape_Leng',
       'TAX_ADD_L1', 'TAX_ADD_L2', 'TAX_ADD_L3', 'TAX_CAPAC', 'TAX_EXEMPT',
       'TAX_NAME', 'TOTAL_TAX', 'UNIT_INFO', 'USE1_DESC', 'USE2_DESC',
       'USE3_DESC', 'USE4_DESC', 'WSHD_DIST', 'XUSE1_DESC', 'XUSE2_DESC',
       'XUSE3_DESC', 'XUSE4_DESC', 'YEAR_BUILT', 'Year', 'ZIP', 'ZIP4',
       'centroid_long', 'centroid_lat'],
      dtype='object')

In [3]:
first_chunk = (first_chunk >> select(list(common_columns)) 
             >>fix_names(make_lower=True)
             >>mutate(latitude = X.centroid_lat.astype("float").round(5).astype('object'))
             >>mutate(longitude = X.centroid_long.astype("float").round(5).astype('object'))
            >>drop(X.centroid_lat,X.centroid_long))
              
first_chunk = (first_chunk
            >>mutate(lat_long = tuple(zip(first_chunk.latitude,first_chunk.longitude)))
             >>mutate(lat_long_tup =X.lat_long.map(lambda x: (str(x[0]),str(x[1]))))
            >>drop(X.lat_long)
               )
        
first_chunk

,SALE_VALUE,BLDG_NUM,MULTI_USES,HEATING,SALE_DATE,XUSE1_DESC,USE3_DESC,TAX_ADD_L1,TAX_ADD_L3,LANDMARK,...,OWN_ADD_L1,AG_PRESERV,USE4_DESC,AGPRE_ENRD,TAX_NAME,USE2_DESC,UNIT_INFO,latitude,longitude,lat_long_tup
0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,23725 NACRE ST NW,"MN, 55330",NaN,...,23725 NACRE ST NW,N,NaN,NaN,JONES TRUSTEE RAYMOND,NaN,NaN,45.3977,-93.4622,"(45.39768, -93.46219)"
1,155000.0,23640.0,NaN,Forced Air Furnace,2008-02-25,NaN,NaN,5288 FOREST RIDGE RD,"MN, 56450",NaN,...,5288 FOREST RIDGE RD,N,NaN,NaN,BRAUSEN RICHARD,NaN,NaN,45.3985,-93.4513,"(45.39852, -93.45134)"
2,332900.0,23449.0,NaN,Forced Air Furnace,2005-12-05,NaN,NaN,23449 VARIOLITE ST NW,"MN, 55330",NaN,...,23449 VARIOLITE ST NW,N,NaN,NaN,HARVEY JAMES,NaN,NaN,45.3946,-93.4577,"(45.39462, -93.45767)"
3,474900.0,23309.0,NaN,Forced Air Furnace,2006-03-31,NaN,NaN,23309 VARIOLITE ST,"MN, 55330",NaN,...,23309 VARIOLITE ST,N,NaN,NaN,NACHREINER CONNIE,NaN,NaN,45.3928,-93.4577,"(45.39283, -93.45771)"
4,170000.0,23925.0,NaN,Forced Air Furnace,2009-07-31,NaN,NaN,23925 GERMANIUM ST NW,"MN, 55070",NaN,...,23925 GERMANIUM ST NW,N,NaN,NaN,COOPER RONALD,NaN,NaN,45.4032,-93.407,"(45.40319, -93.40698)"
5,0.0,23922.0,NaN,Forced Air Furnace,NaN,NaN,NaN,23922 GERMANIUM ST NW,"MN, 55070",NaN,...,23922 GERMANIUM ST NW,N,NaN,NaN,LUDFORD KELLY L,NaN,NaN,45.4032,-93.4084,"(45.4032, -93.40839)"
6,165000.0,5763.0,NaN,Forced Air Furnace,2009-10-02,NaN,NaN,5763 244TH CT NW,"MN, 55070",NaN,...,5763 244TH CT NW,N,NaN,NaN,HERING CHAD,NaN,NaN,45.4133,-93.4129,"(45.41326, -93.41293)"
7,115000.0,5729.0,NaN,Forced Air Furnace,2008-12-29,NaN,NaN,5729 244TH CT NW,"MN, 55070",NaN,...,5729 244TH CT NW,N,NaN,NaN,SCHWAN JENNIFER,NaN,NaN,45.4133,-93.412,"(45.41328, -93.41204)"
8,85000.0,23946.0,NaN,Forced Air Furnace,2010-11-18,NaN,NaN,23946 QUICKSILVER ST NW,"MN, 55070",NaN,...,23946 QUICKSILVER ST NW,N,NaN,NaN,KOGLER JULIE,NaN,NaN,45.4075,-93.4256,"(45.40747, -93.42559)"
9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,23580 NACRE ST NW,"MN, 55330",NaN,...,23580 NACRE ST NW,N,NaN,NaN,WATROBA MICHAEL & SANDRA,NaN,NaN,45.3964,-93.4527,"(45.39637, -93.45266)"
10,0.0,5502.0,NaN,Forced Air Furnace,NaN,NaN,NaN,5502 240TH LN NW,"MN, 55070",NaN,...,5502 240TH LN NW,N,NaN,NaN,COSTELLO EDWARD J & JOAN L,NaN,NaN,45.4052,-93.407,"(45.40517, -93.40705)"
11,208000.0,5541.0,NaN,Forced Air Furnace,2003-04-29,NaN,NaN,5541 239TH LN NW,"MN, 55070",NaN,...,5541 239TH LN NW,N,NaN,NaN,JOHNSON AARON,NaN,NaN,45.4043,-93.4084,"(45.4043, -93.4084)"
12,103500.0,6141.0,NaN,Forced Air Furnace,2011-08-08,NaN,NaN,6141 AMBASSADOR BLVD NW,"MN, 55070",NaN,...,6141 AMBASSADOR BLVD NW,N,NaN,NaN,ZURN KATHERINE,NaN,NaN,45.4038,-93.4236,"(45.40375, -93.42364)"
13,0.0,NaN,NaN,NaN,NaN,NaN,NaN,23300 NACRE ST NW,"MN, 55330",NaN,...,23300 NACRE ST NW,N,NaN,NaN,ALBRO STEVEN M & KAREN M,NaN,NaN,45.3943,-93.4529,"(45.39432, -93.45287)"
14,220000.0,24428.0,NaN,Forced Air Furnace,2013-09-23,NaN,NaN,24428 NEON ST NW,"MN, 55070",NaN,...,24428 NEON ST NW,N,NaN,NaN,GULLICK JEREMY,NaN,NaN,45.4121,-93.4173,"(45.41212, -93.41728)"
15,0.0,NaN,NaN,Space Heater,NaN,NaN,NaN,7480 FLYING CLOUD DRIVE,"MN, 55344",NaN,...,7480 FLYING CLOUD DRIVE,N,NaN,NaN,ALLIANT TECHSYSTEMS INC,NaN,NaN,45.4034,-93.4857,"(45.40336, -93.48572)"
16,290000.0,NaN,NaN,NaN,2010-11-01,NaN,NaN,8770 SPRINGBROOK DR NW,"MN, 55433",NaN,...,8770 SPRINGBROOK DR NW,N,NaN,NaN,MINNETONKA GAME & FISH CLUB,NaN,NaN,45.3907,-93.4691,"(45.39069, -93.46915)"
17,0.0,7758.0,NaN,Forced Air Furnace,NaN,NaN,NaN,7758 HILL N DALE RD NW,"MN, 55330",NaN,...,7758 HILL N DALE RD NW,N,NaN,NaN,HALE MARLENE M & MCILVAINE D J,NaN,NaN,45.3977,-93.4647,"(45.39767, -93.46469)"
18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,7480 FLYING CLOUD DRIVE,"MN, 55344",NaN,...,7480 FLYING CLOUD DRIVE,N,NaN,NaN,ALLIANT TECHSYSTEMS INC,NaN,NaN,45.3982,-93.4794,"(45.39818, -93.47944)"
19,0.0,8434.0,NaN,Forced Air Furnace,NaN,NaN,NaN,8770 SPRINGBROOK DR NW,"MN, 55433",NaN,...,8770 SPRINGBROOK DR NW,N,NaN,NaN,MINNETONKA GAME & FISH CLUB,NaN,NaN,45.3975,-93.477,"(45.39747, -93.47696)"
20,18000.0,NaN,NaN,NaN,2013-06-19,NaN,NaN,3809 171ST CIR NW,"MN, 55304",NaN,...,3809 171ST CIR NW,N,NaN,NaN,HOWARD LISA,NaN,NaN,45.3985,-93.408,"(45.39849, -93.40804)"
21,0.0,5370.0,NaN,"Radiators, Hot Water",NaN,NaN,NaN,5370 AMBASSADOR BLVD NW,"MN, 55070",NaN,...,5370 AMBASSADOR BLVD NW,N,NaN,NaN,BABCOCK CHARLES M & JUDITH B,NaN,NaN,45.3974,-93.4031,"(45.39742, -93.40313)"
22,289900.0,5736.0,NaN,Forced Air Furnace,2005-08-18,NaN,NaN,5736 244TH COURT NW,"MN, 55070",NaN,...,5736 244TH COURT NW,N,NaN,NaN,MART CRAIG,NaN,NaN,45.4123,-93.4126,"(45.41225, -93.41262)"
23,0.0,NaN,NaN,NaN,NaN,NaN,NaN,7480 FLYING CLOUD DRIVE,"MN, 55344",NaN,...,7480 FLYING CLOUD DRIVE,N,NaN,NaN,ALLIANT TECHSYSTEMS INC,NaN,NaN,45.4015,-93.4781,"(45.40151, -93.47808)"
24,0.0,NaN,NaN,Space Heater,NaN,NaN,NaN,7480 FLYING CLOUD DRIVE,"MN, 55344",NaN,...,7480 FLYING CLOUD DRIVE,N,NaN,NaN,ALLIANT TECHSYSTEMS INC,NaN,NaN,45.405,-93.4729,"(45.40504, -93.47291)"
25,0.0,NaN,NaN,NaN,NaN,NaN,NaN,7480 FLYING CLOUD DRIVE,"MN, 55344",NaN,...,7480 FLYING CLOUD DRIVE,N,NaN,NaN,ALLIANT TECHSYSTEMS INC,NaN,NaN,45.4015,-93.4729,"(45.40151, -93.47293)"
26,0.0,NaN,NaN,NaN,NaN,NaN,NaN,617 E MAIN ST,"MN, 55303",NaN,...,617 E MAIN ST,N,NaN,NaN,HENNEN TRUSTEE LEE & HENNEN TRUSTEE VER*,NaN,NaN,45.4071,-93.4034,"(45.40707, -93.40335)"
27,79900.0,23473.0,NaN,Forced Air Furnace,2001-08-22,NaN,NaN,23473 VAROLITE ST NW,"MN, 55330",NaN,...,23473 VAROLITE ST NW,N,NaN,NaN,EASTMAN RICHARD G & COLLEEN E,NaN,NaN,45.3955,-93.4577,"(45.39551, -93.45765)"
28,329630.0,NaN,NaN,NaN,2013-10-08,NaN,NaN,11806 ABERDEEN ST NE STE 100,"MN, 55449",NaN,...,11806 ABERDEEN ST NE STE 100,N,NaN,NaN,GREEN VALLEY DEVELOPMENT LLP,NaN,NaN,45.4007,-93.4363,"(45.40068, -93.43633)"
29,125900.0,24026.0,NaN,Forced Air Furnace,2009-07-30,NaN,NaN,24026 ERKIUM ST NW,"MN, 55070",NaN,...,24026 ERKIUM ST NW,N,NaN,NaN,HAGLUND SPENCER,NaN,NaN,45.4051,-93.4059,"(45.40515, -93.40593)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,138000.0,23043.0,NaN,Forced Air Furnace,2015-07-17,NaN,NaN,23043 ARROWHEAD ST NW,"MN, 55070",NaN,...,23043 ARROWHEAD ST NW,N,NaN,NaN,TAYLOR JOAN,NaN,NaN,45.3877,-93.3348,"(45.38771, -93.33479)"
971,0.0,23124.0,NaN,Forced Air Furnace,NaN,NaN,NaN,23124 DRAKE ST NW,"MN, 55070",NaN,...,23124 DRAKE ST NW,N,NaN,NaN,WYATT ANGELA L & LAWRENCE B,NaN,NaN,45.3888,-93.3052,"(45.3888, -93.3052)"
972,180250.0,23294.0,NaN,Forced Air Furnace,2007-12-03,NaN,NaN,23294 IVYWOOD ST NW,"MN, 55070",NaN,...,23294 IVYWOOD ST NW,N,NaN,NaN,GAMBONI JOHNATHAN,NaN,NaN,45.3921,-93.3433,"(45.3921, -93.34328)"
973,300000.0,23280.0,NaN,Package Unit,2007-03-28,NaN,NaN,3505 NORTHDALE BLVD NW,"MN, 55448",NaN,...,4 SOUTH PINE DR,N,NaN,NaN,ANOKA COUNTY FEDERAL CREDIT U,NaN,NaN,45.3915,-93.3686,"(45.39153, -93.36857)"
974,140000.0,23181.0,NaN,Forced Air Furnace,2015-05-22,NaN,NaN,23181 DAKOTAH ST NW,"MN, 55070",NaN,...,23181 DAKOTAH ST NW,N,NaN,NaN,BENSON CHARLES,NaN,NaN,45.3917,-93.3693,"(45.39166, -93.36934)"
975,175000.0,23038.0,NaN,Forced Air,2008-05-15,NaN,NaN,6300 213TH LN NE,"MN, 55092",NaN,...,6300 213TH LN NE,N,NaN,NaN,L & J PROPERTIES I LLC,NaN,NaN,45.3878,-93.3528,"(45.38779, -93.35281)"
976,127500.0,4489.0,NaN,Forced Air Furnace,2012-06-20,NaN,NaN,4489 232ND CT NW,"MN, 55070",NaN,...,4489 232ND CT NW,N,NaN,NaN,DELING KRISTINA,NaN,NaN,45.3908,-93.3804,"(45.3908, -93.38037)"
977,0.0,NaN,NaN,NaN,NaN,NaN,NaN,9457 HWY 10,"MN, 55303",NaN,...,9457 HWY 10,N,NaN,NaN,PENTAGON HOLDINGS LLC,NaN,NaN,45.3922,-93.3594,"(45.39221, -93.35944)"
978,0.0,NaN,NaN,NaN,NaN,NaN,NaN,9457 HWY 10,"MN, 55303",NaN,...,9457 HWY 10,N,NaN,NaN,PENTAGON HOLDINGS LLC,NaN,NaN,45.3922,-93.3588,"(45.39218, -93.3588)"
979,139000.0,23310.0,NaN,Forced Air Furnace,2013-12-02,NaN,NaN,23310 WOODBINE ST NW,"MN, 55070",NaN,...,23310 WOODBINE ST NW,N,NaN,NaN,PETERSON HOLLY,NaN,NaN,45.3921,-93.3616,"(45.3921, -93.36165)"
980,0.0,4886.0,NaN,Forced Air Furnace,NaN,NaN,NaN,4886 241ST AVE NW,"MN, 55070",NaN,...,4886 241ST AVE NW,N,NaN,NaN,COOPER NICKI,NaN,NaN,45.4049,-93.3898,"(45.40494, -93.38985)"
981,0.0,3853.0,NaN,Forced Air Furnace,NaN,NaN,NaN,9655 63RD AVE N,"MN, 55369",NaN,...,9655 63RD AVE N,N,NaN,NaN,DONNAY HOMES INC,NaN,#103,45.3902,-93.3638,"(45.39021, -93.3638)"
982,0.0,23060.0,NaN,Forced Air Furnace,NaN,NaN,NaN,23060 EIDELWEISS ST NW,"MN, 55070",NaN,...,23060 EIDELWEISS ST NW,N,NaN,NaN,MAXWELL CANDACE L & CHARLES SR,NaN,NaN,45.3877,-93.3393,"(45.38765, -93.33933)"
983,124500.0,2759.0,NaN,Forced Air Furnace,2015-07-17,NaN,NaN,2759 230TH LN NW,"MN, 55070",NaN,...,2759 230TH LN NW,N,NaN,NaN,JORDAN JAMES,NaN,NaN,45.3876,-93.3361,"(45.38761, -93.33611)"
984,92500.0,2765.0,NaN,Forced Air Furnace,2014-01-31,NaN,NaN,2765 230TH LN NW,"MN, 55070",NaN,...,2765 230TH LN NW,N,NaN,NaN,EGAN BRYAN,NaN,NaN,45.3876,-93.3363,"(45.38759, -93.33626)"
985,209600.0,23951.0,NaN,Forced Air Furnace,2003-07-03,NaN,NaN,23951 UTE ST NW,"MN, 55070",NaN,...,23951 UTE ST NW,N,NaN,NaN,SCHERMERHORN JASON A,NaN,NaN,45.4038,-93.391,"(45.40379, -93.39095)"
986,0.0,NaN,NaN,NaN,NaN,EXEMPT - DNR PAYMENT IN LIEU OF TAX (ACQUIRED),NaN,900 NCL TOWER,"MN, 55101",NaN,...,900 NCL TOWER,N,NaN,NaN,MINNESOTA STATE OF,NaN,NaN,45.4119,-93.2803,"(45.41186, -93.28028)"
987,100000.0,23870.0,NaN,Forced Air Furnace,2009-04-06,NaN,NaN,23870 UNITY ST NW,"MN, 55070",NaN,...,23870 UNITY ST NW,N,NaN,NaN,GAGNER JOLYN,NaN,NaN,45.4024,-93.2927,"(45.40239, -93.29268)"
988,219900.0,1944.0,NaN,Forced Air Furnace,2003-01-17,NaN,NaN,1944 242ND AVE NW,"MN, 55070",NaN,...,1944 242ND AVE NW,N,NaN,NaN,CAREY SHANE J & ANGELIQUE A,NaN,NaN,45.4068,-93.3157,"(45.40685, -93.31574)"
989,176289.0,2607.0,NaN,Forced Air Furnace,2003-04-04,NaN,NaN,2607 235TH AVE NW,"MN, 55070",NaN,...,2607 235TH AVE NW,N,NaN,NaN,RUSSET JEROME A,NaN,NaN,45.396,-93.3321,"(45.39596, -93.33213)"
990,0.0,23345.0,NaN,Forced Air Furnace,NaN,NaN,NaN,23345 YUCCA ST NW,"MN, 55070",NaN,...,23345 YUCCA ST NW,N,NaN,NaN,EMERSON MARK A & LORRI A,NaN,NaN,45.3927,-93.3637,"(45.39268, -93.36369)"
991,0.0,NaN,NaN,NaN,NaN,NaN,NaN,9457 HWY 10,"MN, 55303",NaN,...,9457 HWY 10,N,NaN,NaN,PENTAGON HOLDINGS LLC,NaN,NaN,45.3924,-93.3589,"(45.39245, -93.35885)"
992,110000.0,2769.0,NaN,Forced Air Furnace,2013-07-31,NaN,NaN,2769 230TH LN NW,"MN, 55070",NaN,...,2769 230TH LN NW,N,NaN,NaN,GREENLEE MARTIN,NaN,NaN,45.3876,-93.3364,"(45.38759, -93.33639)"
993,0.0,24335.0,NaN,Forced Air Furnace,NaN,NaN,NaN,24335 PARTRIDGE ST NW,"MN, 55070",NaN,...,24335 PARTRIDGE ST NW,N,NaN,NaN,BLOCH JOSEPH L & RUTH M,NaN,NaN,45.4105,-93.3183,"(45.41051, -93.31828)"
994,294000.0,24331.0,NaN,Forced Air Furnace,2003-02-28,NaN,NaN,24331 MARTIN ST,"MN, 55070",NaN,...,24331 MARTIN ST,N,NaN,NaN,MCKAY JACOB & MELISSA M,NaN,NaN,45.4105,-93.3138,"(45.41053, -93.3138)"
995,216015.0,4441.0,NaN,Forced Air Furnace,2005-11-23,NaN,NaN,4441 232ND CT,"MN, 55070",NaN,...,4441 232ND CT,N,NaN,NaN,CITROWSKI SHAUN,NaN,NaN,45.3909,-93.3791,"(45.39085, -93.37911)"
996,58000.0,2583.0,NaN,Forced Air Furnace,2002-06-06,NaN,NaN,2583 234TH CT NW,"MN, 55070",NaN,...,2583 234TH CT NW,N,NaN,NaN,SMITH JOSHUA,NaN,NaN,45.3941,-93.3315,"(45.39409, -93.33154)"
997,245600.0,23620.0,NaN,Forced Air Furnace,2003-03-28,NaN,NaN,23620 FLORA CT NW,"MN, 55070",NaN,...,23620 FLORA CT NW,N,NaN,NaN,SCHLEMMER ERIC J & JODIE L,NaN,NaN,45.3978,-93.3405,"(45.39777, -93.34051)"
998,1536950.0,23629.0,NaN,Forced Air Furnace,2005-03-10,NaN,NaN,617 E MAIN ST #3,"MN, 55303",NaN,...,617 E MAIN ST #3,N,NaN,NaN,HENNEN ANTHONY,NaN,NaN,45.398,-93.3365,"(45.39802, -93.33647)"
999,210000.0,4871.0,NaN,Forced Air Furnace,2004-02-27,NaN,NaN,4871 241ST AVE NW,"MN, 55070",NaN,...,4871 241ST AVE NW,N,NaN,NaN,GAU KEVIN M & DEBERA A,NaN,NaN,45.4062,-93.3903,"(45.40617, -93.39033)"

In [5]:
from project_data_khanal import lat_long_id__lake_dict
lat_long_name = {(lat,long):name for (lat,long),(id_site,name,distance) in lat_long_id__lake_dict.items() }
lat_long_id = {(lat,long):id_site for (lat,long),(id_site,name,distance) in lat_long_id__lake_dict.items() }
lat_long_distance = {(lat,long):distance for (lat,long),(id_site,name,distance) in lat_long_id__lake_dict.items() }

first_chunk = (first_chunk
                      >> mutate(lake_distance = X.lat_long_tup.map(lat_long_distance))
                        >> mutate(lake_name = X.lat_long_tup.map(lat_long_name))
                          >> mutate(lake_ID = X.lat_long_tup.map(lat_long_id))
          
               
              
               
               
               )
first_chunk

,SALE_VALUE,BLDG_NUM,MULTI_USES,HEATING,SALE_DATE,XUSE1_DESC,USE3_DESC,TAX_ADD_L1,TAX_ADD_L3,LANDMARK,...,AGPRE_ENRD,TAX_NAME,USE2_DESC,UNIT_INFO,latitude,longitude,lat_long_tup,lake_distance,lake_name,lake_ID
0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,23725 NACRE ST NW,"MN, 55330",NaN,...,NaN,JONES TRUSTEE RAYMOND,NaN,NaN,45.3977,-93.4622,"(45.39768, -93.46219)",6224.260278,Pickerel Lake,02013000-01
1,155000.0,23640.0,NaN,Forced Air Furnace,2008-02-25,NaN,NaN,5288 FOREST RIDGE RD,"MN, 56450",NaN,...,NaN,BRAUSEN RICHARD,NaN,NaN,45.3985,-93.4513,"(45.39852, -93.45134)",6200.012223,Pickerel Lake,02013000-01
2,332900.0,23449.0,NaN,Forced Air Furnace,2005-12-05,NaN,NaN,23449 VARIOLITE ST NW,"MN, 55330",NaN,...,NaN,HARVEY JAMES,NaN,NaN,45.3946,-93.4577,"(45.39462, -93.45767)",5825.372769,Pickerel Lake,02013000-01
3,474900.0,23309.0,NaN,Forced Air Furnace,2006-03-31,NaN,NaN,23309 VARIOLITE ST,"MN, 55330",NaN,...,NaN,NACHREINER CONNIE,NaN,NaN,45.3928,-93.4577,"(45.39283, -93.45771)",5629.547543,Pickerel Lake,02013000-01
4,170000.0,23925.0,NaN,Forced Air Furnace,2009-07-31,NaN,NaN,23925 GERMANIUM ST NW,"MN, 55070",NaN,...,NaN,COOPER RONALD,NaN,NaN,45.4032,-93.407,"(45.40319, -93.40698)",NaN,NaN,NaN
5,0.0,23922.0,NaN,Forced Air Furnace,NaN,NaN,NaN,23922 GERMANIUM ST NW,"MN, 55070",NaN,...,NaN,LUDFORD KELLY L,NaN,NaN,45.4032,-93.4084,"(45.4032, -93.40839)",NaN,NaN,NaN
6,165000.0,5763.0,NaN,Forced Air Furnace,2009-10-02,NaN,NaN,5763 244TH CT NW,"MN, 55070",NaN,...,NaN,HERING CHAD,NaN,NaN,45.4133,-93.4129,"(45.41326, -93.41293)",NaN,NaN,NaN
7,115000.0,5729.0,NaN,Forced Air Furnace,2008-12-29,NaN,NaN,5729 244TH CT NW,"MN, 55070",NaN,...,NaN,SCHWAN JENNIFER,NaN,NaN,45.4133,-93.412,"(45.41328, -93.41204)",NaN,NaN,NaN
8,85000.0,23946.0,NaN,Forced Air Furnace,2010-11-18,NaN,NaN,23946 QUICKSILVER ST NW,"MN, 55070",NaN,...,NaN,KOGLER JULIE,NaN,NaN,45.4075,-93.4256,"(45.40747, -93.42559)",7336.674394,Pickerel Lake,02013000-01
9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,23580 NACRE ST NW,"MN, 55330",NaN,...,NaN,WATROBA MICHAEL & SANDRA,NaN,NaN,45.3964,-93.4527,"(45.39637, -93.45266)",5969.943145,Pickerel Lake,02013000-01
10,0.0,5502.0,NaN,Forced Air Furnace,NaN,NaN,NaN,5502 240TH LN NW,"MN, 55070",NaN,...,NaN,COSTELLO EDWARD J & JOAN L,NaN,NaN,45.4052,-93.407,"(45.40517, -93.40705)",NaN,NaN,NaN
11,208000.0,5541.0,NaN,Forced Air Furnace,2003-04-29,NaN,NaN,5541 239TH LN NW,"MN, 55070",NaN,...,NaN,JOHNSON AARON,NaN,NaN,45.4043,-93.4084,"(45.4043, -93.4084)",NaN,NaN,NaN
12,103500.0,6141.0,NaN,Forced Air Furnace,2011-08-08,NaN,NaN,6141 AMBASSADOR BLVD NW,"MN, 55070",NaN,...,NaN,ZURN KATHERINE,NaN,NaN,45.4038,-93.4236,"(45.40375, -93.42364)",6966.684056,Pickerel Lake,02013000-01
13,0.0,NaN,NaN,NaN,NaN,NaN,NaN,23300 NACRE ST NW,"MN, 55330",NaN,...,NaN,ALBRO STEVEN M & KAREN M,NaN,NaN,45.3943,-93.4529,"(45.39432, -93.45287)",5744.584127,Pickerel Lake,02013000-01
14,220000.0,24428.0,NaN,Forced Air Furnace,2013-09-23,NaN,NaN,24428 NEON ST NW,"MN, 55070",NaN,...,NaN,GULLICK JEREMY,NaN,NaN,45.4121,-93.4173,"(45.41212, -93.41728)",NaN,NaN,NaN
15,0.0,NaN,NaN,Space Heater,NaN,NaN,NaN,7480 FLYING CLOUD DRIVE,"MN, 55344",NaN,...,NaN,ALLIANT TECHSYSTEMS INC,NaN,NaN,45.4034,-93.4857,"(45.40336, -93.48572)",7591.769290,East Twin Lake,02013300-01
16,290000.0,NaN,NaN,NaN,2010-11-01,NaN,NaN,8770 SPRINGBROOK DR NW,"MN, 55433",NaN,...,NaN,MINNETONKA GAME & FISH CLUB,NaN,NaN,45.3907,-93.4691,"(45.39069, -93.46915)",5589.744534,Pickerel Lake,02013000-01
17,0.0,7758.0,NaN,Forced Air Furnace,NaN,NaN,NaN,7758 HILL N DALE RD NW,"MN, 55330",NaN,...,NaN,HALE MARLENE M & MCILVAINE D J,NaN,NaN,45.3977,-93.4647,"(45.39767, -93.46469)",6266.274100,Pickerel Lake,02013000-01
18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,7480 FLYING CLOUD DRIVE,"MN, 55344",NaN,...,NaN,ALLIANT TECHSYSTEMS INC,NaN,NaN,45.3982,-93.4794,"(45.39818, -93.47944)",6605.528966,Pickerel Lake,02013000-01
19,0.0,8434.0,NaN,Forced Air Furnace,NaN,NaN,NaN,8770 SPRINGBROOK DR NW,"MN, 55433",NaN,...,NaN,MINNETONKA GAME & FISH CLUB,NaN,NaN,45.3975,-93.477,"(45.39747, -93.47696)",6472.904471,Pickerel Lake,02013000-01
20,18000.0,NaN,NaN,NaN,2013-06-19,NaN,NaN,3809 171ST CIR NW,"MN, 55304",NaN,...,NaN,HOWARD LISA,NaN,NaN,45.3985,-93.408,"(45.39849, -93.40804)",NaN,NaN,NaN
21,0.0,5370.0,NaN,"Radiators, Hot Water",NaN,NaN,NaN,5370 AMBASSADOR BLVD NW,"MN, 55070",NaN,...,NaN,BABCOCK CHARLES M & JUDITH B,NaN,NaN,45.3974,-93.4031,"(45.39742, -93.40313)",NaN,NaN,NaN
22,289900.0,5736.0,NaN,Forced Air Furnace,2005-08-18,NaN,NaN,5736 244TH COURT NW,"MN, 55070",NaN,...,NaN,MART CRAIG,NaN,NaN,45.4123,-93.4126,"(45.41225, -93.41262)",NaN,NaN,NaN
23,0.0,NaN,NaN,NaN,NaN,NaN,NaN,7480 FLYING CLOUD DRIVE,"MN, 55344",NaN,...,NaN,ALLIANT TECHSYSTEMS INC,NaN,NaN,45.4015,-93.4781,"(45.40151, -93.47808)",6928.515183,Pickerel Lake,02013000-01
24,0.0,NaN,NaN,Space Heater,NaN,NaN,NaN,7480 FLYING CLOUD DRIVE,"MN, 55344",NaN,...,NaN,ALLIANT TECHSYSTEMS INC,NaN,NaN,45.405,-93.4729,"(45.40504, -93.47291)",7210.677137,Pickerel Lake,02013000-01
25,0.0,NaN,NaN,NaN,NaN,NaN,NaN,7480 FLYING CLOUD DRIVE,"MN, 55344",NaN,...,NaN,ALLIANT TECHSYSTEMS INC,NaN,NaN,45.4015,-93.4729,"(45.40151, -93.47293)",6827.925296,Pickerel Lake,02013000-01
26,0.0,NaN,NaN,NaN,NaN,NaN,NaN,617 E MAIN ST,"MN, 55303",NaN,...,NaN,HENNEN TRUSTEE LEE & HENNEN TRUSTEE VER*,NaN,NaN,45.4071,-93.4034,"(45.40707, -93.40335)",NaN,NaN,NaN
27,79900.0,23473.0,NaN,Forced Air Furnace,2001-08-22,NaN,NaN,23473 VAROLITE ST NW,"MN, 55330",NaN,...,NaN,EASTMAN RICHARD G & COLLEEN E,NaN,NaN,45.3955,-93.4577,"(45.39551, -93.45765)",5922.814939,Pickerel Lake,02013000-01
28,329630.0,NaN,NaN,NaN,2013-10-08,NaN,NaN,11806 ABERDEEN ST NE STE 100,"MN, 55449",NaN,...,NaN,GREEN VALLEY DEVELOPMENT LLP,NaN,NaN,45.4007,-93.4363,"(45.40068, -93.43633)",6460.140777,Pickerel Lake,02013000-01
29,125900.0,24026.0,NaN,Forced Air Furnace,2009-07-30,NaN,NaN,24026 ERKIUM ST NW,"MN, 55070",NaN,...,NaN,HAGLUND SPENCER,NaN,NaN,45.4051,-93.4059,"(45.40515, -93.40593)",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,138000.0,23043.0,NaN,Forced Air Furnace,2015-07-17,NaN,NaN,23043 ARROWHEAD ST NW,"MN, 55070",NaN,...,NaN,TAYLOR JOAN,NaN,NaN,45.3877,-93.3348,"(45.38771, -93.33479)",2748.300091,George Lake,02009100-01
971,0.0,23124.0,NaN,Forced Air Furnace,NaN,NaN,NaN,23124 DRAKE ST NW,"MN, 55070",NaN,...,NaN,WYATT ANGELA L & LAWRENCE B,NaN,NaN,45.3888,-93.3052,"(45.3888, -93.3052)",NaN,NaN,NaN
972,180250.0,23294.0,NaN,Forced Air Furnace,2007-12-03,NaN,NaN,23294 IVYWOOD ST NW,"MN, 55070",NaN,...,NaN,GAMBONI JOHNATHAN,NaN,NaN,45.3921,-93.3433,"(45.3921, -93.34328)",NaN,NaN,NaN
973,300000.0,23280.0,NaN,Package Unit,2007-03-28,NaN,NaN,3505 NORTHDALE BLVD NW,"MN, 55448",NaN,...,NaN,ANOKA COUNTY FEDERAL CREDIT U,NaN,NaN,45.3915,-93.3686,"(45.39153, -93.36857)",NaN,NaN,NaN
974,140000.0,23181.0,NaN,Forced Air Furnace,2015-05-22,NaN,NaN,23181 DAKOTAH ST NW,"MN, 55070",NaN,...,NaN,BENSON CHARLES,NaN,NaN,45.3917,-93.3693,"(45.39166, -93.36934)",NaN,NaN,NaN
975,175000.0,23038.0,NaN,Forced Air,2008-05-15,NaN,NaN,6300 213TH LN NE,"MN, 55092",NaN,...,NaN,L & J PROPERTIES I LLC,NaN,NaN,45.3878,-93.3528,"(45.38779, -93.35281)",NaN,NaN,NaN
976,127500.0,4489.0,NaN,Forced Air Furnace,2012-06-20,NaN,NaN,4489 232ND CT NW,"MN, 55070",NaN,...,NaN,DELING KRISTINA,NaN,NaN,45.3908,-93.3804,"(45.3908, -93.38037)",NaN,NaN,NaN
977,0.0,NaN,NaN,NaN,NaN,NaN,NaN,9457 HWY 10,"MN, 55303",NaN,...,NaN,PENTAGON HOLDINGS LLC,NaN,NaN,45.3922,-93.3594,"(45.39221, -93.35944)",NaN,NaN,NaN
978,0.0,NaN,NaN,NaN,NaN,NaN,NaN,9457 HWY 10,"MN, 55303",NaN,...,NaN,PENTAGON HOLDINGS LLC,NaN,NaN,45.3922,-93.3588,"(45.39218, -93.3588)",NaN,NaN,NaN
979,139000.0,23310.0,NaN,Forced Air Furnace,2013-12-02,NaN,NaN,23310 WOODBINE ST NW,"MN, 55070",NaN,...,NaN,PETERSON HOLLY,NaN,NaN,45.3921,-93.3616,"(45.3921, -93.36165)",NaN,NaN,NaN
980,0.0,4886.0,NaN,Forced Air Furnace,NaN,NaN,NaN,4886 241ST AVE NW,"MN, 55070",NaN,...,NaN,COOPER NICKI,NaN,NaN,45.4049,-93.3898,"(45.40494, -93.38985)",NaN,NaN,NaN
981,0.0,3853.0,NaN,Forced Air Furnace,NaN,NaN,NaN,9655 63RD AVE N,"MN, 55369",NaN,...,NaN,DONNAY HOMES INC,NaN,#103,45.3902,-93.3638,"(45.39021, -93.3638)",NaN,NaN,NaN
982,0.0,23060.0,NaN,Forced Air Furnace,NaN,NaN,NaN,23060 EIDELWEISS ST NW,"MN, 55070",NaN,...,NaN,MAXWELL CANDACE L & CHARLES SR,NaN,NaN,45.3877,-93.3393,"(45.38765, -93.33933)",2760.864286,George Lake,02009100-01
983,124500.0,2759.0,NaN,Forced Air Furnace,2015-07-17,NaN,NaN,2759 230TH LN NW,"MN, 55070",NaN,...,NaN,JORDAN JAMES,NaN,NaN,45.3876,-93.3361,"(45.38761, -93.33611)",2741.111818,George Lake,02009100-01
984,92500.0,2765.0,NaN,Forced Air Furnace,2014-01-31,NaN,NaN,2765 230TH LN NW,"MN, 55070",NaN,...,NaN,EGAN BRYAN,NaN,NaN,45.3876,-93.3363,"(45.38759, -93.33626)",2739.585426,George Lake,02009100-01
985,209600.0,23951.0,NaN,Forced Air Furnace,2003-07-03,NaN,NaN,23951 UTE ST NW,"MN, 55070",NaN,...,NaN,SCHERMERHORN JASON A,NaN,NaN,45.4038,-93.391,"(45.40379, -93.39095)",NaN,NaN,NaN
986,0.0,NaN,NaN,NaN,NaN,EXEMPT - DNR PAYMENT IN LIEU OF TAX (ACQUIRED),NaN,900 NCL TOWER,"MN, 55101",NaN,...,NaN,MINNESOTA STATE OF,NaN,NaN,45.4119,-93.2803,"(45.41186, -93.28028)",NaN,NaN,NaN
987,100000.0,23870.0,NaN,Forced Air Furnace,2009-04-06,NaN,NaN,23870 UNITY ST NW,"MN, 55070",NaN,...,NaN,GAGNER JOLYN,NaN,NaN,45.4024,-93.2927,"(45.40239, -93.29268)",NaN,NaN,NaN
988,219900.0,1944.0,NaN,Forced Air Furnace,2003-01-17,NaN,NaN,1944 242ND AVE NW,"MN, 55070",NaN,...,NaN,CAREY SHANE J & ANGELIQUE A,NaN,NaN,45.4068,-93.3157,"(45.40685, -93.31574)",NaN,NaN,NaN
989,176289.0,2607.0,NaN,Forced Air Furnace,2003-04-04,NaN,NaN,2607 235TH AVE NW,"MN, 55070",NaN,...,NaN,RUSSET JEROME A,NaN,NaN,45.396,-93.3321,"(45.39596, -93.33213)",NaN,NaN,NaN
990,0.0,23345.0,NaN,Forced Air Furnace,NaN,NaN,NaN,23345 YUCCA ST NW,"MN, 55070",NaN,...,NaN,EMERSON MARK A & LORRI A,NaN,NaN,45.3927,-93.3637,"(45.39268, -93.36369)",NaN,NaN,NaN
991,0.0,NaN,NaN,NaN,NaN,NaN,NaN,9457 HWY 10,"MN, 55303",NaN,...,NaN,PENTAGON HOLDINGS LLC,NaN,NaN,45.3924,-93.3589,"(45.39245, -93.35885)",NaN,NaN,NaN
992,110000.0,2769.0,NaN,Forced Air Furnace,2013-07-31,NaN,NaN,2769 230TH LN NW,"MN, 55070",NaN,...,NaN,GREENLEE MARTIN,NaN,NaN,45.3876,-93.3364,"(45.38759, -93.33639)",2740.226468,George Lake,02009100-01
993,0.0,24335.0,NaN,Forced Air Furnace,NaN,NaN,NaN,24335 PARTRIDGE ST NW,"MN, 55070",NaN,...,NaN,BLOCH JOSEPH L & RUTH M,NaN,NaN,45.4105,-93.3183,"(45.41051, -93.31828)",NaN,NaN,NaN
994,294000.0,24331.0,NaN,Forced Air Furnace,2003-02-28,NaN,NaN,24331 MARTIN ST,"MN, 55070",NaN,...,NaN,MCKAY JACOB & MELISSA M,NaN,NaN,45.4105,-93.3138,"(45.41053, -93.3138)",NaN,NaN,NaN
995,216015.0,4441.0,NaN,Forced Air Furnace,2005-11-23,NaN,NaN,4441 232ND CT,"MN, 55070",NaN,...,NaN,CITROWSKI SHAUN,NaN,NaN,45.3909,-93.3791,"(45.39085, -93.37911)",NaN,NaN,NaN
996,58000.0,2583.0,NaN,Forced Air Furnace,2002-06-06,NaN,NaN,2583 234TH CT NW,"MN, 55070",NaN,...,NaN,SMITH JOSHUA,NaN,NaN,45.3941,-93.3315,"(45.39409, -93.33154)",NaN,NaN,NaN
997,245600.0,23620.0,NaN,Forced Air Furnace,2003-03-28,NaN,NaN,23620 FLORA CT NW,"MN, 55070",NaN,...,NaN,SCHLEMMER ERIC J & JODIE L,NaN,NaN,45.3978,-93.3405,"(45.39777, -93.34051)",3889.384697,George Lake,02009100-01
998,1536950.0,23629.0,NaN,Forced Air Furnace,2005-03-10,NaN,NaN,617 E MAIN ST #3,"MN, 55303",NaN,...,NaN,HENNEN ANTHONY,NaN,NaN,45.398,-93.3365,"(45.39802, -93.33647)",3897.988184,George Lake,02009100-01
999,210000.0,4871.0,NaN,Forced Air Furnace,2004-02-27,NaN,NaN,4871 241ST AVE NW,"MN, 55070",NaN,...,NaN,GAU KEVIN M & DEBERA A,NaN,NaN,45.4062,-93.3903,"(45.40617, -93.39033)",NaN,NaN,NaN

In [6]:
#Seems like this first chunk doesn't have any lake less than 1600 distance 
first_chunk = (first_chunk>>
               filter_by(X.lake_distance<=1600.00)
)
first_chunk

Empty DataFrame
Columns: [SALE_VALUE, BLDG_NUM, MULTI_USES, HEATING, SALE_DATE, XUSE1_DESC, USE3_DESC, TAX_ADD_L1, TAX_ADD_L3, LANDMARK, OWN_ADD_L2, XUSE3_DESC, SCHOOL_DST, NUM_UNITS, TAX_CAPAC, PREFIX_DIR, XUSE4_DESC, BASEMENT, STREETTYPE, FIN_SQ_FT, STREETNAME, SPEC_ASSES, TAX_ADD_L2, TOTAL_TAX, GARAGE, EMV_TOTAL, EMV_BLDG, CITY, XUSE2_DESC, BLOCK, LOT, CITY_USPS, EMV_LAND, YEAR_BUILT, ACRES_DEED, WSHD_DIST, GREEN_ACRE, HOME_STYLE, DWELL_TYPE, PREFIXTYPE, OPEN_SPACE, PLAT_NAME, OWNER_MORE, HOMESTEAD, OWN_ADD_L3, ZIP4, Shape_Leng, COOLING, Year, OWNER_NAME, TAX_EXEMPT, Shape_Area, USE1_DESC, COUNTY_ID, PARC_CODE, PIN, SUFFIX_DIR, GARAGESQFT, ACRES_POLY, AGPRE_EXPD, ZIP, OWN_ADD_L1, AG_PRESERV, USE4_DESC, AGPRE_ENRD, TAX_NAME, USE2_DESC, UNIT_INFO, latitude, longitude, lat_long_tup, lake_distance, lake_name, lake_ID]
Index: []

[0 rows x 74 columns]

list(enumerate(sorted(first_chunk.columns)))[22:29] #18,53,65,13,49,2,41 + 1 kapil



list(enumerate(first_chunk.columns)) #25,9,48,16,30,33,4 already added 1


def dtypes(col,chunk):
    col = chunk>>select(col)>>distinct()
    dtypes = [type(val[0]) for val in col.values]
    return dtypes


 #unique_types = [{col: set(dtypes(col,second_chunk)) for col in [19,54,66,14,50,3,42]} for chunk in df_chunks]
 #unique_types
unique_types = [{col: set(dtypes(col,second_chunk)) for col in [25,9,48,16,30,33,4]} for chunk in df_chunks]
unique_types

unique_across_chunks = dict()
for chunk_set in unique_types:
    for k,v in chunk_set.items():
        if k not in unique_across_chunks:
            unique_across_chunks[k] = [v]
        else:
            if v not in unique_across_chunks[k]:
                unique_across_chunks[k].append(v)
            else:
                pass

#unique_all ={k:set(v) for k,v in unique_across_chunks.items()}
unique_across_chunks

5. Now convert your expression from the last problem to a function and test that this function works on the first few chunks of each file.

In [ ]:
@pipeable
def select_common_cols(chunk):
    common_chunk = (chunk >> select(list(common_columns)) 
             >>fix_names(make_lower=True)
             >>mutate(latitude = X.centroid_lat.astype("float").round(5).astype('object'))
             >>mutate(longitude = X.centroid_long.astype("float").round(5).astype('object'))
            >>drop(X.centroid_lat,X.centroid_long))
    return common_chunk
@pipeable
def map_lake(chunk):
    map_chunk = (chunk
            >>mutate(lat_long = tuple(zip(first_chunk.latitude,first_chunk.longitude)))
             >>mutate(lat_long_tup =X.lat_long.map(lambda x: (str(x[0]),str(x[1]))))
            >>drop(X.lat_long)
               )
    return map_chunk

@pipeable
def getClean_chunk(chunk):
    from project_data_khanal import lat_long_id__lake_dict
    lat_long_name = {(lat,long):name for (lat,long),(id_site,name,distance) in lat_long_id__lake_dict.items() }
    lat_long_id = {(lat,long):id_site for (lat,long),(id_site,name,distance) in lat_long_id__lake_dict.items() }
    lat_long_distance = {(lat,long):distance for (lat,long),(id_site,name,distance) in lat_long_id__lake_dict.items() }

    clean_chunk = (chunk
                      >> mutate(lake_distance = X.lat_long_tup.map(lat_long_distance))
                        >> mutate(lake_name = X.lat_long_tup.map(lat_long_name))
                          >> mutate(lake_ID = X.lat_long_tup.map(lat_long_id))
                  )
    
    return chunk

6. We need to make a unique primary key for each row in the combined parcel file.<br>
    a. There is a column that appears to be a unique parcel id.  Double check that this is a true primary key for each individual file. (To do this you need to verify that the number of unique values is the same as the number of rows for each of the parcel files.  **Hint:** For each file, use of the accumulator pattern with two accumualtors (one number and one data frame). <br>
    b. Explain why this column will not work as a primary key if we want to combine all years in one database. <br>
    c. Suppose we make a new column that consist of `str(year) + '-' + PID`.  Explain why this should make a proper primary key for the combined data. <br>

In [15]:
#Checking on chunks of first file only...if it fails here no need to check everywhere..df_chunks may exhaust need to run again
for chunk in df_chunks:
    nrows = chunk.shape[0]
    id_len = len(set(chunk['PIN']))
    if nrows != id_len:
        print("Not equal on one of the chunk")
        break

Not equal on one of the chunk

In [18]:
@pipeable #only works on def statements
def add_primary_key(chunk,start):
    chunk = (chunk >> mutate(primary_key = np.arange(start,chunk.shape[0]))
    )
    return chunk

7. Make a function to add the key suggested in the last problem (`str(year) + '-' + PID`) to a given chunk.

#### Note: If you are clever, you can do parts 8 in one double loop, which will save you from having to read the parcel files twice.

8. It is probably worth our time to test that our new key column is truely unique. (If not, we might be wasting out time loading the data into a database, only to have process fail hours in.) Test that the new column works by <br>
    a. Iterating over all the files.<br>
    b. Using an accumulator to count total number of rows across all parcel files. <br>
    c. Using an accumulator to accumulate a set of all unique values of our new key. <br>
    d. Verifying that we have as many total rows as unique keys.
    a. Selecting just this column. <br>
    b. Dumping this column into a temporary database <br>

9. If the last step succeeded, you can proceed to make a master parcel data database.  If not, you will need to figure out another primary key, probably an `id` column similar to the example in the lectures.